.storypointer-container {
  .pointselector {
    display: inline-block;
    
    .btn-group {
      margin-bottom: 2px;
    }
  
    button.btn {
      border-radius: 4px;
      width: 100px;
    }
  }

  .table-container {
    display: inline-block;
    width: 300px;
  }
}
